.type-security {
    background-color: #d6fcf7;
}

.type-wordpress {
    background-color: #e9e7fc;

    @media (prefers-color-scheme: dark) {
        background-color: #242233;
    }
}

.type-php {
    background-color: #e9e7fc;
}
