.type-security {
    background-color: #d6fcf7;
}



.dark-theme {
    .type-wordpress {
        background-color: #242233;
    }
}


.light-theme {
    .type-wordpress {
        background-color: #e9e7fc;
    }
}


.type-php {
    background-color: #e9e7fc;
}
