html,
body {
    background-color: var(--page-background);
    color: var(--primary-color);
    font-family: var(--primary-font);
    font-size: 22px;
    line-height: 28px;
}

.wrap {
    margin: 0 auto;
    max-width: $nav-max-width;
}

.container {
    padding: 10px 0;
}

.pad {
    @media all and (max-width: calc(#{$nav-max-width} + 20px)) {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.pad-remover {
    @media all and (min-width: calc(#{$nav-max-width} + 20px)) {
        padding-left: 0;
        padding-right: 0;
    }
}

a {
    border: 2px solid transparent;
    color: inherit;
    display: inline-block;
    text-decoration: underline;
    transition: transform .1s ease-in;

    &:active,
    &:focus {
        border: 2px solid var(--primary-color-03);
    }

    &:active {
        transform: scale(.95);
    }
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Miriam Libre';
    font-weight: 600;
}

h1 { font-size: 1.6rem; line-height: 3rem; }
h2 { font-size: 1.4rem; line-height: 1.8rem; }
h3 { font-size: 1.2rem; line-height: 1.6rem; }
h4 { font-size: 1rem; line-height: 1.4rem; }
h5, h6 { font-size: 1rem; line-height: 1.2rem; }
