// Fonts
$primary-font: 'Spectral', sans-serif;
$code-font: 'monospace';

// Resolutions
$nav-max-width: 1024px;
$xs: 320px;
$sm: 420px;
$md: 760px;
$lg: 1300px;

// Light theme
$white--light: #fafafa;
$black--light: #212529;
$page-background--light: #fafafa;

$black-07--light: rgba($black--light, .7);
$black-03--light: rgba($black--light, .3);

$primary-color--light: $black--light;
$primary-color-07--light: rgba($primary-color--light, .7);
$primary-color-03--light: rgba($primary-color--light, .3);

$primary-background--light: $white--light;
$primary-background-07--light: rgba($primary-background--light, .7);
$primary-background-03--light: rgba($primary-background--light, .3);

$table-background--light: $white--light;
$table-border--light: #a1a1a1;
$table-odd--light: $table-background--light;
$table-even--light: #f5f5f5;

$code-background--light: $page-background--light;
$code-color--light: $primary-color--light;


// Dark theme
$white--dark: rgb(13, 17, 23);
$black--dark: rgb(211, 219, 227);
$page-background--dark: rgb(13, 17, 23);

$black-07--dark: rgba($black--dark, .7);
$black-03--dark: rgba($black--dark, .3);

$primary-color--dark: $black--dark;
$primary-color-07--dark: rgba($primary-color--dark, .7);
$primary-color-03--dark: rgba($primary-color--dark, .3);

$primary-background--dark: $white--dark;
$primary-background-07--dark: rgba($primary-background--dark, .7);
$primary-background-03--dark: rgba($primary-background--dark, .3);

$table-background--dark: $white--dark;
$table-border--dark: $primary-color-03--dark;
$table-odd--dark: $table-background--dark;
$table-even--dark: $primary-color-03--dark;

$code-background--dark: $page-background--dark;
$code-color--dark: $primary-color--dark;


// CSS variabels
:root {
    --primary-font: #{$primary-font};
    --code-font: #{$code-font};

    @media (prefers-color-scheme: light) {
        --primary-color: #{$primary-color--light};
        --primary-color-07: #{$primary-color-07--light};
        --primary-color-03: #{$primary-color-03--light};
        --primary-background: #{$primary-background--light};
        --primary-background-07: #{$primary-background-07--light};
        --primary-background-03: #{$primary-background-03--light};
        --page-background: #{$page-background--light};
        --table-background: #{$table-background--light};
        --table-border: #{$table-border--light};
        --table-odd: #{$table-background--light};
        --table-even: #{$table-even--light};
        --code-background: #{$code-background--light};
        --code-color: #{$code-color--light};

        &[data-theme='dark'] {
            --primary-font: #{$primary-font};
            --code-font: #{$code-font};

            --primary-color: #{$primary-color--dark};
            --primary-color-07: #{$primary-color-07--dark};
            --primary-color-03: #{$primary-color-03--dark};
            --primary-background: #{$primary-background--dark};
            --primary-background-07: #{$primary-background-07--dark};
            --primary-background-03: #{$primary-background-03--dark};
            --page-background: #{$page-background--dark};
            --table-background: #{$table-background--dark};
            --table-border: #{$table-border--dark};
            --table-odd: #{$table-background--dark};
            --table-even: #{$table-even--dark};
            --code-background: #{$code-background--dark};
            --code-color: #{$code-color--dark};

        }
    }

    --primary-color: #{$primary-color--dark};
    --primary-color-07: #{$primary-color-07--dark};
    --primary-color-03: #{$primary-color-03--dark};
    --primary-background: #{$primary-background--dark};
    --primary-background-07: #{$primary-background-07--dark};
    --primary-background-03: #{$primary-background-03--dark};
    --page-background: #{$page-background--dark};
    --table-background: #{$table-background--dark};
    --table-border: #{$table-border--dark};
    --table-odd: #{$table-background--dark};
    --table-even: #{$table-even--dark};
    --code-background: #{$code-background--dark};
    --code-color: #{$code-color--dark};

    &[data-theme='light'] {
        --primary-color: #{$primary-color--light};
        --primary-color-07: #{$primary-color-07--light};
        --primary-color-03: #{$primary-color-03--light};
        --primary-background: #{$primary-background--light};
        --primary-background-07: #{$primary-background-07--light};
        --primary-background-03: #{$primary-background-03--light};
        --page-background: #{$page-background--light};
        --table-background: #{$table-background--light};
        --table-border: #{$table-border--light};
        --table-odd: #{$table-background--light};
        --table-even: #{$table-even--light};
        --code-background: #{$code-background--light};
        --code-color: #{$code-color--light};
    }
}

