<header id="top" class="main-header">
    <section class="site-title">
        {{- if .IsHome }}
        <h1>
            <a href="{{ "" | absLangURL }}" title="{{ .Site.Title }}">{{ .Site.Title }}</a>
        </h1>
        {{- else }}
        <h2>
            <a href="{{ "" | absLangURL }}" title="{{ .Site.Title }}">{{ .Site.Title }}</a>
        </h2>
        {{- end }}


        <svg class="themeSwitch" xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewbox="0 0 24 24" fill="none" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-label="Switch Theme" role="button">
            <symbol id="sun"><circle cx="12" cy="12" r="5"></circle><line x1="12" y1="1" x2="12" y2="3"></line><line x1="12" y1="21" x2="12" y2="23"></line><line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line><line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line><line x1="1" y1="12" x2="3" y2="12"></line><line x1="21" y1="12" x2="23" y2="12"></line><line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line><line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line></symbol>
            <symbol id="moon"><path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"></path></symbol>
            <use id="themeIcon" href="#moon"></use>
        </svg>
    </section>

    <nav class="site-menu">
        <ul id="menu">
            {{- $currentPage := . }}
            {{- range $key, $value := .Site.Menus.main }}
                {{- $menuItem  := cond (strings.HasSuffix .URL "/") .URL (printf "%s/" .URL) | absLangURL }}
                {{- $pageUrl   := $currentPage.Permalink | absLangURL }}
                <li>
                    <a
                        href="{{ .URL | absLangURL }}"
                        title="{{ .Title | default .Name }}"
                        {{- if eq $menuItem $pageUrl }} class="active" {{- end }}
                        {{- if eq $value.Weight 1 }} accesskey="h" {{- end }}
                    >
                        {{ .Name }}
                    </a>
                </li>
            {{- end }}
        </ul>
    </nav>
</header>
