.main-footer {
    @extend .pad;

    color: var(--primary-color-07);
    font-size: .9rem;
    text-align: center;
    margin-top: 15px;
    padding-top: 15px;
    padding-bottom: 15px;

    .license {
        display: block;
    }
}
