/* ------------
    Header
 ------------ */

header.main-header {
    @extend .pad;

    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex-wrap: warp;
    justify-content: space-between;
    margin: 0 auto 25px 0;
    max-width: $nav-max-width;
    padding-bottom: 10px;
    padding-top: 10px;

    .themeSwitch {
        cursor: pointer;
        display: none;
        vertical-align: text-top;
    }

    section {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 10px 0px;
        width: 100%;

        &.site-title {
            h1,
            h2 {
                color: var(--primary-color);
                display: inline-block;
                font-size: 1.4em;
                font-weight: 700;
                letter-spacing: -1px;
                max-width: 80%;

                @media screen and (min-width: $sm) {
                    font-size: 1.6em;
                }

                a {
                    text-decoration: none;
                }
            }

            h1 {
                color: var(--primary-color);
                font-size: 1.8em;
            }
        }
    }

    nav {
        color: var(--primary-color-07);
        padding: 5px 0;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                display: inline-block;

                a {
                    padding: 2px 4px 2px 0;
                    text-decoration: underline;

                    &.active {
                        font-weight: bold;
                    }

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
