.pagination {
    @extend .pad;

    padding-bottom: 0;
    padding-top: 0;

    ul {
        align-items: center;
        color: var(--primary-color);
        display: flex;
        justify-content: space-between;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            width: 100%;

            &.prev-page {
                text-align: left;
            }

            &.current-page {
                text-align: center;
            }

            &.next-page {
                text-align: right;
            }

            a {
                background-color: var(--primary-background);
                border-bottom: 2px solid var(--primary-color-03);
                color: var(--primary-color);
                padding: 5px;
                text-decoration: none;
            }
        }
    }
}
