.single {
    article {
        @extend .pad-remover;

        margin-top: 15px;

        header {
            width: 100%;

            .title {
                display: block;
                font-size: 1.4em;
                margin: 20px 0;

                @media screen and (min-width: $lg) {
                    font-size: 2em;
                }

                @media screen and (min-width: $sm) {
                    font-size: 1.8em;
                }

                a {
                    text-decoration: none;
                }
            }

            .info {
                box-sizing: border-box;
                margin-top: 1em;
                width: 100%;

                span {
                    background-color: var(--primary-background);
                    color: var(--primary-color-07);
                    display: block;
                    font-weight: normal;
                    margin-top: 5px;
                    padding: 5px 0px;
                    width: 100%;

                    @media screen and (min-width: $md) {
                        margin-right: 5px;
                        margin-top: 0;
                        width: auto;
                    }

                    &:not(:last-child) {
                        margin-right: 5px;

                        &::after {
                            display: none;
                        }
                    }

                    &::after {
                        display: inline-block;
                        content: " ";
                        white-space: pre;
                        border: 2px solid transparent;
                    }

                    a {
                        padding: 0;

                        &:not(:last-child)::after {
                            content: ',';
                            font-size: 1em;
                            color: inherit;
                        }
                    }
                }
            }
        }
    }
}
