.table-contents {
    background-color: var(--page-background);
    border-radius: .25rem;
    color: var(--primary-color-07);
    padding: 5px 10px;

    & > span  {
        color: var(--primary-color);
        display: block;
        font-weight: 700;
    }

    ul,
    ol {
        list-style-position: inside;
        padding: 0;

        & > ul, ol {
            padding-left: 20px;
        }
    }
}
