.table-contents {
    color: $primary-color-07;
    background-color: $page-background;
    border-radius: .25rem;
    padding: 5px 10px;

    & > span  {
        color: $black;
        display: block;
        font-weight: 700;
    }

    ul,
    ol {
        list-style-position: inside;
        padding: 0;

        & > ul, ol {
            padding-left: 20px;
        }
    }
}
